:root{
  --lightgray:#D9d9d9;
  --grey:#9c9c9c;
  --orange:#f48915;
  --darkgrey:#464D53;
  --calorycard:#656565;
  --plancard:linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
  --appcolor: #3c3f45;
}

.App{
  /*background-image:*/
  mix-blend-mode: overlay;
  background-color: var(--appcolor);
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
}

::-webkit-scrollbar{
  display: none;
}